@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #1a1a1a; /* Dark background */
    color: #ffffff; /* Light text */
  }
  
  .dark-mode .bg-gradient-to-r {
    background: linear-gradient(to right, #1a1a1a, #1a1a1a); /* Adjust as needed */
  }
  
  /* Additional styles for dark mode as needed */
  